{% extends 'layout.html' %}
{% block title %}Rejestracja{% endblock %}
{% block head %}<script src="{{ url_for('static', filename='js/register.js') }}"></script>{% endblock %}
{% block content %}
    <div class="text-center">
        <h2>Zarejestruj się</h2>
        <form action="register" method="post" class="text-center w-50" enctype="multipart/form-data">
        <ul>
            <li class="form-group my-3">
                <label for="username" class="sr-only">Nazwa użytkownika</label>
                <input type="text" id="username" name="username" autocomplete="username" class="form-control" placeholder="Nazwa użytkownika" required minlength="3" maxlength="12">
            </li>
            <li class="form-group my-3">
                <label for="first_name" class="sr-only">Imię</label>
                <input type="text" id="first_name" name="first_name" autocomplete="given-name" class="form-control" placeholder="Imię" required>
            </li>
            <li class="form-group my-3">
                <label for="last_name" class="sr-only">Nazwisko</label>
                <input type="text" id="last_name" name="last_name" autocomplete="family-name" class="form-control" placeholder="Nazwisko" required>
            </li>
            <li class="form-group my-3">
                <label for="password" class="sr-only">Hasło</label>
                <input type="password" id="password" name="password" autocomplete="new-password" class="form-control" placeholder="Hasło" required>
            </li>
            <li class="form-group my-3">
                <label for="password_repeat" class="sr-only">Powtórz hasło</label>
                <input type="password" id="password_repeat" name="password_repeat" autocomplete="new-password" class="form-control" placeholder="Powtórz hasło" required minlength="8">
            </li>
            <li class="form-group my-3">
                <label for="address" class="sr-only">Adres</label>
                <input type="text" id="address" name="address" autocomplete="address" class="form-control" placeholder="Adres" required>
            </li>
            <input type="submit" value="Załóż konto" class="btn btn-primary">
        </ul>
        </form>
    </div>
    <div class="text-center">
         <a href="{{ url_for('oauth_bp.login') }}">
            <button class="btn btn-secondary">Zarejestruj się przez auth0</button>
        </a>
     </div>
{% endblock %}